
/*  */
*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
li{
  list-style: none;
}

body{
  width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  margin: 2rem 0;
}
header{
  margin: 3rem 0;
  font-size: 2.5rem;
  /* color: #2c2c2c; */
  color: #2c3e50;
}

.todo_form{
  width: 400px;
  height: 40px;
}
.todo_input{
  width: 100%;
  height: 100%;
  outline: none;
  background: none;
  border-radius: 6px;
  border: 1px solid #2c3e50;
  padding: 0 15px;
  font-size: 1.0rem;
  color: #2c3e50;
}

.task{
  width: 100%;
  height: auto;
  background: #34495e;
  margin: 1rem 0;
  padding: 1.2rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.0rem;
  color: #f2f2f2;
  cursor: pointer;
}

.task .actions{
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}


/*  */